<app-table>
  <thead>
    <tr>
      <th
        [id]="columnHead.dataProperty"
        [classList]="columnHead.style"
        *ngFor="let columnHead of tableConfig?.columns"
      >
        {{ columnHead.title }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let columnData of tableContent; let i = index">
      <tr>
        <td>
          {{ columnData.id }}
        </td>
        <td>
          {{ columnData.codigo }}
        </td>
        <td class="text-uppercase">
          {{ columnData.nome }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</app-table>
